.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35%;
}

.subTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 50px;
  justify-self: center;
  position: relative;
}

.subTitle:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #d2d7da;
  width: 70%;
  transform: translateX(-50%);
  bottom: -15px;
  left: 50%;
}

.imc {
  display: flex;
  margin: 50px 30px 0px 30px;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  border: 2px solid rgb(212, 211, 211);
  box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.349);
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  letter-spacing: 1px;
  margin: 10px;
}

.def {
  color: white;
  letter-spacing: 1px;
  margin: 10px;
  font-size: 15px;
}
