.moneyConvert {
  display: flex;
  margin: 50px 30px 0px 30px;
  justify-content: space-evenly;
  align-items: center;

  background-color: white;
  border-radius: 7px;
  padding: 20px;
  border: 2px solid rgb(212, 211, 211);
  box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.349);
}

.app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.subTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 23px;
}

.title {
  display: flex;
  justify-content: center;
}

.base {
  display: flex;
  justify-content: center;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
}
.to {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
