.moneyConvert {
  display: flex;
  margin: 0px 30px 0px 30px;
  justify-content: space-evenly;
  align-items: center;

  background-color: white;
  border-radius: 7px;
  padding: 20px;
  border: 2px solid rgb(212, 211, 211);
  box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.349);
  width: 90%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.subTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
}

.subTitle:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #d2d7da;
  width: 70%;
  transform: translateX(-50%);
  bottom: -15px;
  left: 50%;
}

.title {
  display: flex;
  justify-content: center;
}

.base {
  display: flex;
  justify-content: center;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
}
.to {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
