$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.formPage {
  height: 100vh;
  width: 100vw;
  background: url(./../images/portfoliobackground.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex: 50%;
  backdrop-filter: blur(1px);
}

.title {
  letter-spacing: 0.4rem;

  text-transform: uppercase;
  color: white;
  font-size: 20px;
  display: inline-block;
  position: relative;
  margin-top: 80px;
}

.title:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #d2d7da;
  width: 70%;
  transform: translateX(-50%);
  bottom: -15px;
  left: 50%;
}
.formInput {
  margin-bottom: 20px;
}

.formInputContent {
  width: 60vw;
  height: 30px;
  color: white;
}

.formTextContent {
  width: 60.2vw;
  height: 200px;
  border: 2px black solid;
  padding: 10px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 5px;
}

.formSubmit {
  margin-top: 20px;
}

.formSubmitButton {
  width: 20vw;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: black;
  padding: 20px 0px 20px 0px;
  font-weight: 900;
  cursor: pointer;
  border: 2px black solid;
  border-radius: 5px;
}

.form__group {
  margin-bottom: 20px;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 60.2vw;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $white;
  outline: 0;
  font-size: 1rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #ffffff94;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffffff94;
  }
  padding-bottom: 6px;

  border-width: 1px;

  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
