.currency {
  margin-bottom: 70px;
}


@media only screen and (min-width: 1000px) {
  .converter {
    background-image: url(./../../images/lightBackGround.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 800px) {
  .converter{
    height: 100vh;
    background-color: rgba(28, 27, 27, 0.97);
  }
}



