.menuBoutton {
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  padding: 20px 0px 20px 0px;
  cursor: pointer;
}
.menuBoutton:hover {
  background-color: rgba(0, 0, 0, 0.329);
}

.menuBouttonContent {
  display: flex;
  justify-content: center;
  letter-spacing: 7px;
}

.icon {
  margin-right: 20px;
}

.listItem {
  display: flex;
  justify-content: center;
}

.subMenuBouttonContent {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  font-size: 13px;
  padding: 5px;
  align-items: center;
  cursor: pointer;
}

.subMenuBouttonContent:hover {
  background-color: rgba(0, 0, 0, 0.329);
}
