.menuBoutton {
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;

  cursor: pointer;
}

.logoTwitter {
  color: white;
  cursor: pointer;
}
.logoTwitter:hover {
  color: #00acee !important;
  transform: scale(1.5);
}

.logoLk {
  color: white;
  cursor: pointer;
}

.logoLk:hover {
  color: #0474b3;
  transform: scale(1.5);
}

.logoGithub {
  color: white;
  cursor: pointer;
}
.logoGithub:hover {
  transform: scale(1.5);
}

.menuBoutton:hover {
  background-color: rgba(0, 0, 0, 0.329);
}

.bouttonHover:hover {
  background-color: rgba(0, 0, 0, 0.329);
}

.menuBouttonContent {
  margin-left: 10px;
  height: 3em;
  display: flex;
  align-items: center;
  letter-spacing: 7px;
  text-decoration: none;
  padding: 3px;
}

.icon {
  margin-right: 20px;
}

.contactIcons {
  display: flex;
  justify-content: space-around;
}

.listItem {
  display: flex;
  justify-content: center;
}

.separation {
  border-bottom: 10px white solid;
}

.subMenuBouttonContent {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  font-size: 13px;
  padding: 5px;
  align-items: center;
  cursor: pointer;
}

.subMenuBouttonContent:hover {
  background-color: rgba(0, 0, 0, 0.329);
}
